body {
    background-image: url(images/library-cats.jpg);
    background-size: 410px 410px;
    background-color: #F6DBC2;
    font-family: Manrope;
}

main {
}

.form-container {
    margin-left: 25%;
    margin-right:25%;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
}

label {
    font-size: 24px;
}

.list-label {
    display: block;
    margin-bottom: -10px;
}

input[type]:not([type=radio]):not([type=checkbox]) {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Remove arrows from number field- Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows from number field- Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 10px;
    cursor: default;
    font-size: 18px;
}

/* Hide the browser's default radio button */
.radio-container input {
    opacity: 0;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add an orange background color */
.radio-container:hover input ~ .radio-checkmark {
    background-color: #feb176;
}

/* When the radio button is checked, change the background color */
.radio-container input:checked ~ .radio-checkmark {
    background-color: #51c2b7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the idicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-checkmark:after {
    top: 8px;
    left: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.checkmark-container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 10px;
    cursor: default;
    font-size: 18px;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}

/* On mouse-over, add an orange background color */
.checkmark-container:hover input ~ .checkmark {
    background-color: #feb176;
}

/* When the checkbox is checked, change the background color */
.checkmark-container input:checked ~ .checkmark {
    background-color: #51c2b7;
}

/* Create the checkmark (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark */
.checkmark:after {
    left: 8px;
    top: 3px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform:rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.submit-button{

}