body {
    background-image: url(images/cat-snacks.jpg);
    background-size: 400px 400px;
    background-color: #A8E6DB;
}

#background-contrast{
    filter: contrast(180%);
}

main {
    margin-left: 25%;
    margin-right:25%;
    padding-top: 15px;
    padding-left: 30px;
    background-color: #FFFFFF;
}