body {
    background-image: url(images/library-cats.jpg);
    background-size: 410px 410px;
    background-color: #F6DBC2;
    font-family: Manrope;
}

main {
    margin-left: 25%;
    margin-right:25%;
    padding-top: 15px;
    padding-left: 30px;
    background-color: #FFFFFF;
}

.form-container {
    border-width: 20px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}

input[type]:not([type=radio]):not([type=checkbox]) {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text] {

}

/* Remove arrows from number field- Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove arrows from number field- Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.submit-button{

}