body {
    background-image: url(images/library-cats.jpg);
    background-size: 410px 410px;
    background-color: #F6DBC2;
    font-family: Manrope;
}

main {
    margin-left: 25%;
    margin-right:25%;
    padding-top: 15px;
    padding-left: 30px;
    background-color: #FFFFFF;
}

.form-container {
    border-width: 20px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}

input.text {
    width: 70%;
}

.submit-button{

}